
/* .heading{
    font-size: 36px;
    color:#FFEDFF;
    font-family: 'Lato', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
    line-height: 30px;
    text-align: center;
} */