.button_box{
    background-color:#6C4AA4; 
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: solid #6C4AA4 1px; */
    box-shadow:0px 3px 6px #000000 ;
    color:rgb(140, 64, 161);
    /* font-size: 24px; */
    cursor: pointer;
   /* width: 307px; */
     height:56px; 
    margin:5px;
  
  }
  

  .button_inner::selection{
      background: none;
      color:none;
    }

      .button_inner {
    font-family: 'Gotu', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
  }