.button_box{
    background-color:#6C4AA4; 
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /* border: solid #6C4AA4 1px; */
    box-shadow:0px 3px 6px #000000 ;
<<<<<<< HEAD
<<<<<<< HEAD
    color:rgb(140, 64, 161);
=======
>>>>>>> 0649cb2c61590e0a549f0ccecd2dea44700c6957
=======
>>>>>>> df948d7c0f1797e9143d6bc00e2be0f366e1c119
    /* font-size: 24px; */
    cursor: pointer;
   /* width: 307px; */
     height:56px; 
    margin:5px;
  
  }
  

  .button_inner::selection{
      background: none;
      color:none;
    }

<<<<<<< HEAD
<<<<<<< HEAD
      .button_inner {
    font-family: 'Gotu', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
=======
=======
>>>>>>> df948d7c0f1797e9143d6bc00e2be0f366e1c119
    .button_inner {
    /* font-size: 24px; */
    color: #E3C9EA;
    /* font-family: 'Gotu', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Gotu&display=swap'); */
<<<<<<< HEAD
>>>>>>> 0649cb2c61590e0a549f0ccecd2dea44700c6957
=======
>>>>>>> df948d7c0f1797e9143d6bc00e2be0f366e1c119
  }