.content_text3, .background3, .title3, .content3, .content_img3, .body3, footer, .header3, .app3 {
    display: flex;
    align-content: center;
    justify-content: center;
}

/* .body3 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
} */

.body3 {
    margin: 0;
    width: 360px;
    height: 640px;
    flex-direction: column;
}

.title3 {
    color: white;
    font-size: 30pt;
    font-family: 'Gotu', sans-serif;
}

.content_text3 {
    color: white;
    font-weight: lighter;
    font-size: 18pt;
    flex: 1;
    font-family: 'Lato', sans-serif;
    padding: 0px 40px;
}

.background3 {
    margin: 0;
    flex: 11;
    background-image: url(/background.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

footer {
    flex: 1;
    background-color: #8553B3;
    align-items: center;
    justify-content: center;
}

.title3 {
    flex: 1;
}

.header3 {
    flex: 1;
}

.content3 {
    flex: 4;
    flex-direction: column;
}

.content_img3 {
    flex: 2;
    padding: 20px;
}

.content_img3 img {
    width: 157px;
    height: 157px;
}

.app3 {
    flex: 4;
    flex-direction: column;
}

/* TYPOGRAPHY */
h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
}