#qcard_cont{
    width:360px;
    background-color: #5658AF;
    padding-left: 5px;

}

#YNbuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#next{
    margin-left: 22px;
}

#sleep img{
 
    height:165px;
    width:165px;
}

#sleep{
    display: flex;
    align-items: center;
    justify-content: center;
}

