.body_quiz, .qcard_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qcard_cont{
    width: 100vw;
    height: 100vh;
    min-width: 360px;
    min-height: 640px;
    flex-direction: column;
    background-image: url(/qcardbg.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}

.quizc_title {
    flex: 1;
    padding-top: 20px;
}

.qc_text{
    padding-left: 30px;
    padding-right: 30px;
    flex: 1;
}

#qc_img img{
    margin-top: 10px;
    width: auto;
    height: 125px;
}

#qc_img{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.qc_question {
    padding-left: 30px;
    padding-right: 30px;
    flex: 1;
}

.YNbuttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#next{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quiz_buttons_box {
    width: 100%;
    min-height: 160px;
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TYPOGRAPHY */
h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

.bold {
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}