@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40pt;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
}

h2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26pt;
    color: #FFEDFF;
    text-align: center;
}

.resultbox {
    width: 360px;
    height: fit-content;
    background-color: #6654AD;
    padding-bottom: 20px;
}

.measure {
    padding: 30px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.measureimg {
    width: 197px;
    height: 110px;
    background-color: white;
}

.resulttext {
    padding: 30px;
    background-color: #705BB4;

}