.header_box {
    /* background-color: #6C4AA4; */
    height: 92px;
    width: 100%;
    display: flex;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
    position: absolute;
}

.menu_icon_box {
    height: 20px;
    width: 32px;
    position: relative;
    left: 23.5px;
    top: 37px;
}

.small_logo_box {
    height: 43px;
    width: 85px;
    position: relative;
    left: 40%;
    top: 21.5px;
}

#small_logo {
    height: 43px;
    width: 85px;
}