.header_box {
    background-color: #5658AF;
    height: 92px;
    width: 100%;
    display: flex;
}

.menu_icon_box {
    background-color: #E3C9EA;
    height: 20px;
    width: 32px;
    position: relative;
    left: 23.5px;
    top: 37px;
}

.small_logo_box {
    background-color: #34DCB8;
    height: 42px;
    width: 85px;
    position: relative;
    left: 40%;
    top: 21.5px;
}