.menu_box {
    width: 200px;
    height: 640px;
    padding-top: 100px;
    background-color: #3A363E;
    opacity: 90%;
    position: absolute;
    left: -100%;
}

.menuItem {
    margin: 30px;
    display: flex;
    align-items: center;
    height: 30px;
}

h6 {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: #FFEDFF;
}

img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}