@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet');

.resultCard {
    width: 360px;
    height: fit-content;
    background-color: #6654AD;
    padding-bottom: 20px;
}
.rcTitle {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#rcTitle2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.rcImage  {
    width: 360px;
    height: auto;
}

.rcIcon {
    width: 37px;
    height: 37px;
}

.rcText {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
}

/* TYPOGRAPHY */

h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
} 

h2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

.bold {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}