.content_text1, .background1, .title1, .content1, .content_img1, .body1, footer, .header1, .app1 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.body1 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.title1 {
    color: white;
    font-size: 30pt;
    font-family: 'Gotu', sans-serif;
}

.content_text1 {
    color: white;
    font-weight: lighter;
    font-size: 18pt;
    flex: 1;
    font-family: 'Lato', sans-serif;
    padding: 0px 40px 40px 40px;
}

.background1 {
    margin: 0;
    flex: 11;
    background-image: url(/background.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

footer {
    flex: 1;
    background-color: #8553B3;
}

.title1 {
    flex: 1;
}

.header1 {
    flex: 1;
}

.content1 {
    flex: 4;
    flex-direction: column;
}

.content_img1 {
    flex: 2;
}

.content_img1 img {
    width: 157px;
    height: 157px;
}

.app1 {
    flex: 4;
    flex-direction: column;
    height: 50px;
}