.content p, .background, .title, .content, .body, footer, .header, .app {
    display: flex;
    align-content: center;
    justify-content: center;
}

.body {
    /* border: 1px solid red; */
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 30pt;
    font-family: 'Gotu', sans-serif;
}

.content_text {
    color: white;
    font-weight: lighter;
    font-size: 18pt;
    flex: 1;
    font-family: 'Lato', sans-serif;
}

.background {
    margin: 0;
    flex: 11;
    flex-direction: column;
    background-image: url(/backgroundwith.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    flex: 1;
    background-color: #8553B3;
    /* border: 1px solid red; */
}

.title {
    flex: 1;
}

.header {
    flex: 1;
}

.app {
    flex: 4;
    /* margin: 55px; */
    flex-direction: column;
    width: 175px;
    height: 50px;
    margin: 0px 0px 0px 150px;
}

.content {
    width: 400px!important;
    flex: 4;
    flex-direction: column;
    margin: 0px 0px 0px -100px!important;
}

/* .content_img {
    flex: 2;
}

.content_img img {
    width: 157px;
    height: 157px;
} */