.content_text4, .background4, .title4, .content4, .body4, footer, .header4, .app4 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.body4 {
    width: 100vw;
    height: 100vh;
    min-width: 360px;
    min-height: 640px;
    flex-direction: column;
}

.background4 {
    width: 100vw;
    height: 100vh;
    min-width: 360px;
    min-height: 640px;
    flex-direction: column;
    background-image: url(/backgroundwith.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}

.app4 {
    flex: 4;
    flex-direction: column;
}

.title4 {
    color: white;
    font-family: 'Gotu', sans-serif;
    flex: 1;
    padding-top: 20px;
}

.content4 {
    flex: 4;
    flex-direction: column;
}

.content_text4 {
    padding: 0px 40px;
    flex-direction: column;
}

footer {
    flex: 1;
    background-color: #8553B3;
}

/* TYPOGRAPHY */
h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
}