.content_text4, .background4, .title4, .content4, .body4, footer, .header4, .app4 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.body4 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.title4 {
    color: white;
    font-size: 30pt;
    font-family: 'Gotu', sans-serif;
    padding: 30px 0px 0px 0px;
}

.content_text4 {
    color: white;
    font-weight: lighter;
    font-size: 18pt;
    flex: 1;
    font-family: 'Lato', sans-serif;
    padding: 0px 40px;
}

.background4 {
    margin: 0;
    flex: 11;
    flex-direction: column;
    background-image: url(/backgroundwith.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    flex: 1;
    background-color: #8553B3;
    /* border: 1px solid red; */
}

.title4 {
    flex: 1;
}

.header4 {
    flex: 1;
}

.app4 {
    flex: 4;
    /* margin: 55px; */
    flex-direction: column;
    /* width: 175px;
    height: 50px;
    margin: 0px 0px 0px 150px; */
}

.content4 {
    /* width: 400px!important; */
    flex: 4;
    flex-direction: column;
    /* margin: 0px 0px 0px -100px!important; */
}

/* .content_img {
    flex: 2;
}

.content_img img {
    width: 157px;
    height: 157px;
} */