.content_text2, .background2, .title2, .content2, .content_img2, .body2, footer, .header2, .app2 {
    display: flex;
    align-content: center;
    justify-content: center;
}

.body2 {
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.title2 {
    color: white;
    font-size: 30pt;
    font-family: 'Gotu', sans-serif;
}

.content_text2 {
    color: white;
    font-weight: lighter;
    font-size: 18pt;
    flex: 1;
    font-family: 'Lato', sans-serif;
    padding: 0px 40px;
}

.background2 {
    margin: 0;
    flex: 11;
    background-image: url(/background.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

footer {
    flex: 1;
    background-color: #8553B3;
}

.title2 {
    flex: 1;
}

.header2 {
    flex: 1;
}

.content2 {
    flex: 4;
    flex-direction: column;
}

.content_img2 {
    flex: 2;
}

.content_img2 img {
    width: 157px;
    height: 157px;
}

.app2 {
    flex: 4;
    /* margin: 55px; */
    flex-direction: column;
}