.background, .title, .content, .content_img, .body, .app, .content_text {
    display: flex;
    align-content: center;
    justify-content: center;
}

.body {
    margin: 0;
    width: 360px;
    height: 640px;
    flex-direction: column;
}

.title {
    /* min-width: 300px;
    margin:70px 0px 0px 80px!important; */
    color: white;
    font-size: 22pt;
    font-family: 'Gotu', sans-serif;
    padding: 40px;
}

.content_text {
    color: white;
    font-weight: lighter;
    font-size: 16pt;
    flex: 1;
    font-family: 'Gotu', sans-serif;
    padding: 0px 40px;
    /* margin:0px 0px 0px 100px!important; */
}

.background {
    margin: 0;
    flex: 11;
    background-image: url(/backgroundOne.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

footer {
    /* flex: 1; */
    width: 360px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.title {
    flex: 1;
    flex-direction: column;
}

.content {
    /* width: 400px!important; */
    flex: 4;
    flex-direction: column;
    /* margin: 0px 0px 0px 100px!important; */
}

.content_img {
    flex: 3;
    /* margin:10px 0px 0px -110px!important; */
}

.content_img img {
    width: 296px;
    height: 296px;
}

.app {
    flex: 11;
    /* margin: 55px; */
    flex-direction: column;
    /* width: 175px;
    height: 50px; */
    /* margin: 0px 0px 0px 10px; */
}

/* TYPOGRAPHY */

.hometitle1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hometitle2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hometitle3 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}