.background, .title, footer, .content, .content_img, .body, .app, .content_text {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
}

.body {
    margin: 0;
    width: 360px;
    height: 640px;
    flex-direction: column;
}

.app {
    flex-direction: column;
    height: 640px;
    width: 360px;

    /* flex: 11; */
    /* margin: 55px; */
    /* width: 175px;
    height: 50px; */
    /* margin: 0px 0px 0px 10px; */
}

.title {
    color: white;
    font-size: 22pt;
    font-family: 'Gotu', sans-serif;
    
    padding-top: 40px;
    height: 126px;
    width: 360px;
    flex-direction: column;

    /* flex: 1; */
    /* min-width: 300px;
    margin:70px 0px 0px 80px!important; */
}

.content {
    flex-direction: column;
    height: 377px;
    width: 360px;

    /* margin: 0px 0px 0px 100px!important; */
    /* width: 400px!important; */
    /* flex: 4; */
}

/* .content_img {
    flex: 3;
    margin:10px 0px 0px -110px!important;
} */

.content_img img {
    width: 296px;
    height: 296px;
}

.content_text {
    /* color: white;
    font-weight: lighter;
    font-size: 16pt;
    font-family: 'Gotu', sans-serif; */

    flex: 1;
    padding: 0px 40px;
    
    /* margin:0px 0px 0px 100px!important; */
}

/* .background {
    margin: 0;
    flex: 11;
    background-image: url(/backgroundOne.svg)!important;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
} */

.background {
    background-image: url(/backgroundOne.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#footer_home {
    width: 360px;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;

    /* flex: 1; */
}

/* TYPOGRAPHY */

.hometitle1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hometitle2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hometitle3 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}


/* TYPOGRAPHY */

h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
} 

h2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}


h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

.bold {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}

