body {
    margin: 0;
}

.background, .title, footer, .content, .content_img, .body, .app, .content_text {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
}

.body_home {
    width: 100vw;
    height: 100vh;
    min-height: 640px;
    min-width: 360px;
    flex-direction: column;
}

.background {
    background-image: url(/backgroundOne.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.app {
    flex-direction: column;
    height: 100vh;
    min-height: 640px;
    min-width: 360px;
    justify-content: center;
}

.title_home {
    color: white;
    font-size: 22pt;
    font-family: 'Gotu', sans-serif;
    
    padding-top: 40px;
    min-height: 126px;
    min-width: 360px;
    flex-direction: column;
    flex:2;
}

.content {
    flex-direction: column;
    justify-content: center;
    min-height: 377px;
    min-width: 360px;
    flex: 4;
}

.content_img img {
    width: 296px;
    height: 296px;
}

.content_text {
    flex: 1;
    padding: 0px 40px;
}

#footer_home {
    width: 100%;
    min-height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: none;
    background: none;
}

/* TYPOGRAPHY */

.hometitle1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hometitle2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

.hometitle3 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
} 

h2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}


h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

.bold {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}

