#resources_container {
    /* background-color: #6654AD; */
    background-image: url(/resourcesbg.svg)!important;
    width: 360px;
    height: auto;
    /* background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column; */
}

#resources_tile {
    padding: 15px 15px;
}

#crisiscenter_box {
    /* background-color: rgba(215, 191, 226, 0.2); */
    height: 86px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resources_info_box {
    padding: 30px;
}

.resorcesButton {
    width: 360px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #705BB4; */
}

#res_title {
    margin-top: ;
}

#res_link {
    margin-top: ;
    margin-bottom: ;
}

/* TYPOGRAPHY */

h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
} 

h2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

.bold {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}
