#resources_container {
    background-color: #6654AD;
    width: 360px;
    height: auto;
}

h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40pt;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
}

h2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26pt;
    color: #FFEDFF;
    text-align: center;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFEDFF;
    text-align: left;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFEDFF;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18;
    color: white;
}

#resouces_box {
    position: relative;
}

#crisiscenter_box {
    background-color: rgba(215, 191, 226, 0.2);
    height: 86px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#resources_info_box {
    padding-right: 30px;
    padding-left: 30px;
}

.resorcesButton {
    width: 360px;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #705BB4;
}