#about_cont{
    height: 100%;
    width:360px;
    /* background-color: #5658AF; */
    background-image: url(/resourcesbg.svg)!important;

}

#about{
    padding: 20px 15px;
    margin: 0;
}

#team_tile {
    padding: 40px 15px;
    margin: 0;
}

.about_text{
    padding-right: 30px;
    padding-left: 30px;
    margin: 0px;
}
.photos{
    width:100px;
    height:100px;
    border-radius: 165px;
    padding:10px;
}

.img_text{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
}

#team{
    display: flex;
    flex-direction: column;

}

.heading{
    padding-top: 20px;
}

.aboutusButton {
    margin-bottom: 20px;
    width: 360px;
    /* height: 102px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TYPOGRAPHY */

h1 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
} 

h2 {
    font-family: 'Gotu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #FFEDFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
    margin: 0px;
    padding-top: 0px;
}

.bold {
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
}
